.main-wrapper{
  .end-task{
    height: 100vh;
  }
}
.list-atribut-wrapper{
  table{
    margin-top: 1.5rem;
    min-width: 700px;
    margin: auto;
      td, th{
          border: 1px solid gray;
      }
  }
}